<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manager Dashboard</title>
</head>
<body>

    <h2>Welcome, {{ manager.fullname }}</h2>

    <a href="/manager/{{ manager.id }}/profile/">
        <button>View Profile</button>
    </a>

    <a href="/manager/{{ manager.id }}/profile/edit/">
        <button>Edit Profile</button>
    </a>

    <a href="/campaigns/create/">
        <button>Create Election Campaign</button>
    </a>

    <a href="/manager/{{ manager.id }}/campaigns/">
        <button>View Campaigns</button>
    </a>

</body>
</html>
