<!DOCTYPE html>
<html lang="en">
<head>
    <title>Manage Campaigns</title>
</head>
<body>
    <h2>Your Election Campaigns</h2>
    <ul>
        {% for campaign in campaigns %}
            <li>
                <h3>{{ campaign.title }}</h3>
                <p>{{ campaign.description }}</p>
                <img src="{{ campaign.image.url }}" width="100">
                <p>Start: {{ campaign.start_time }}</p>
                <p>End: {{ campaign.end_time }}</p>
                <a href="/edit_campaign/{{ campaign.id }}/">Edit</a>
                <a href="/delete_campaign/{{ campaign.id }}/">Delete</a>
                <a href="/add_election/{{ campaign.id }}/">Add Election</a>
                <h4>Elections:</h4>
                <ul>
                    {% for election in campaign.elections.all %}
                        <li>
                            {{ election.name }} - {{ election.description }}
                            <a href="/delete_election/{{ election.id }}/">Delete</a>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
